.main-header {
  font-family: "Dancing Script", cursive;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  font-size: 18px;
  color: white;
  z-index: 1;
  transition: 0.4s ease-out; //quando scrollo header non diventa di colpo nero ma gradualmene

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  .nav-links {
    display: flex;
    list-style: none;

    .nav-link {
      transition: opacity 0.4s ease-in-out,
        transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }

      &:nth-of-type(3) {
        transition-delay: 0.2s;
      }

      &:nth-of-type(4) {
        transition-delay: 0.3s;
      }

      &:nth-of-type(5) {
        transition-delay: 0.4s;
      }

      a {
        margin: 0.2rem;
        padding: 1rem 0.5rem;
      }
      a:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: white;
      height: 2px;
      width: 20px;
      border-radius: 4px;
      transition: background 0.8s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: white;
        transition: background 0.8s ease;
      }

      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }

  .menu-btn {
    position: absolute;
    top: -100px;

    &:focus ~ .menu-icon {
      .menu-icon__line {
        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }
    }
  }

  &.scrolled {
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: white;

    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: white;
      }
    }
  }
}
